* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.main {
    background-image: url(./image/bg_tgdd.png);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.slider {
    margin-bottom: 50px;
    padding: 20px 0;
    height: 350px;
}

.slider-content {
    display: flex;
    width: 100%;
}

.slider-content-left {
    width: 70%;
    padding: 20px 10px 0 0;
}

.slider-content-left-top {
    width: 100%;
    height: 300px;
    position: relative;
}

.slider-content-left-top-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-content-left-top-btn i {
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}


/* .slider-content-left-top:hover i {
    opacity: 1;
} */

.slider-content-left-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ebebeb;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

.slider-content-left-bottom {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 48px;
}

.slider-content-left-bottom li {
    width: 20%;
    text-align: center;
    cursor: pointer;
    position: relative;
    height: 100%;
    padding: 6px 0;
    align-items: center;
    line-height: 36px;
}

.slider-content-left-bottom li::before {
    display: block;
    content: " ";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}

.slider-content-left-bottom li.active {
    border-top: 4px solid #fff200;
}

.slider-content-right {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 360px;
}

.slider-content-right li {
    margin-bottom: 5px;
    padding-left: 10px;
    width: 50%;
}

.slider-content-right li img {
    width: 100%;
    border-radius: 4px;
}

.slider-content-left-top {
    position: relative;
}

.slider-content-left-top-btn {
    position: absolute;
    top: 50%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.slider-content-left-top-btn i {
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: rgb(253, 242, 242);
    display: flex;
    align-self: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all .3s ease;
    cursor: pointer;
}

.slider-content-left-top img {
    position: absolute;
}

.slider-content-left-top a:nth-child(2) img {
    transform: translateX(100%);
}

.slider-content-left-top a:nth-child(3) img {
    transform: translateX(200%);
}

.slider-content-left-top a:nth-child(4) img {
    transform: translateX(300%);
}

.slider-content-left-top a:nth-child(5) img {
    transform: translateX(400%);
}

.slider-content-left-top-container {
    position: relative;
    overflow: hidden;
}

.slider-content-left-top-container:hover i {
    opacity: 1;
}


/* Slider product á»ne */

.slider-product-one-content {
    background-color: #fff200;
}


/* .slider-product-one-content-pading {
    padding: 0 12px 12px 12px;
    margin-top: 0;
} */

.slider-product-one-content-title {
    margin: 0;
}

.slider-product-one-content-items {
    margin-top: -4px;
    display: flex;
    justify-content: space-evenly;
}

.slider-product-one-content-item:hover>img {
    transform: translateY(-20px);
}

.slider-product-one-content-item {
    width: 19%;
    background-color: #fff;
    padding: 50px 12px 50px;
    border-radius: 5px;
    cursor: pointer;
}

.slider-product-one-content-item>img {
    width: 100%;
    transition: all 500ms ease;
}

.slider-product-one-content-item-text {
    padding-top: 20px;
}

.slider-product-one-content-item-text li {
    margin-bottom: 6px;
}

.slider-product-one-content-item-text li:first-child {
    height: 30px;
    width: 70%;
    background-color: #de1c05;
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 30px;
    border-radius: 40px;
}

.slider-product-one-content-item-text li:first-child p {
    color: #fff;
    font-size: 12px;
}

.slider-product-one-content-item-text li:first-child img {
    width: 30px;
    float: left;
    margin-right: 6px;
    border-radius: 40px;
}

.slider-product-one-content-item-text li:nth-child(4) a {
    text-decoration: line-through;
    color: #333;
}

.slider-product-one-content-item-text li:last-child i {
    color: #fb6e2e;
}

.slider-product-one-content-container {
    position: relative;
    overflow: hidden;
}

.slider-product-one-content-btn {
    position: absolute;
    top: 50%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.slider-product-one-content-btn i {
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: rgb(253, 242, 242);
    display: flex;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all .3s ease;
    cursor: pointer;
}

.slider-product-one-content-items-content {
    position: relative;
    height: 550px;
    transition: all .3s;
}

.slider-product-one-content-items {
    position: absolute;
}

.slider-product-one-content-items:nth-child(2) {
    transform: translateX(100%);
}

.slider-product-one-content-items:nth-child(3) {
    transform: translateX(200%);
}

.product-gallery-one-content-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
}

.product-gallery-one-content-product-item {
    width: 20%;
    padding: 50px 12px 12px;
    border: 1px solid #ddd;
    cursor: pointer;
}


/* .product-gallery-one-content-product-item:hover {
  box-shadow: 3px 3px 3px #ddd; 
} */

.product-gallery-one-content-product-item:hover>img {
    transform: translateY(-20px);
}

.product-gallery-one-content-product-item>img {
    width: 100%;
    transition: all .5s ease;
}

.product-gallery-one-content-product-item-text {
    padding-top: 20px;
}

.product-gallery-one-content-product-item-text li {
    margin-bottom: 6px;
}

.product-gallery-one-content-product-item-text li:first-child {
    height: 30px;
    width: 70%;
    background-color: #de1c05;
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 30px;
    border-radius: 40px;
}

.product-gallery-one-content-product-item-text li:first-child p {
    color: #fff;
    font-size: 12px;
}

.product-gallery-one-content-product-item-text li:first-child img {
    width: 30px;
    float: left;
    margin-right: 6px;
    border-radius: 40px;
}

.product-gallery-one-content-product-item-text li:nth-child(4) a {
    text-decoration: line-through;
    color: #333;
}

.product-gallery-one-content-product-item-text li:last-child i {
    color: #fb6e2e;
}

.product-gallery-one-content-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-gallery-one-content-title h2 {
    color: #333;
}

.product-gallery-one-content-title ul li a {
    color: #333;
    transition: all .3s;
}

.product-gallery-one-content-title ul {
    display: flex;
}

.product-gallery-one-content-title ul li {
    padding: 6px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
    border-radius: 40px;
}

.product-gallery-one-content-title ul li:hover a {
    color: rgb(58, 119, 175);
}


/* ------------------ */

.product-gallery-tow-content {
    display: flex;
    padding-right: 12px;
    background-color: #B70E18;
}

.product-gallery-tow-content-right {
    width: 20%;
}

.product-gallery-tow-content-right img {
    width: 100%;
}

.product-gallery-tow-content-left {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.product-gallery-tow-content-left-top {
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: #ddd;
}

.product-gallery-tow-content-left-top li {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.product-gallery-tow-content-left-top .activive {
    background-color: #fff;
    color: #203E4E;
}

.product-gallery-tow-content-left-bottom {
    background-color: #fff;
    display: flex;
    border-radius: 5px;
}

.product-gallery-tow-content-left-bottom-item {
    width: 25%;
    padding: 50px 20px 20px;
    border-right: 1px solid #ddd;
}

.product-gallery-tow-content-left-bottom-item:last-child {
    border-radius: 5px;
}

.product-gallery-tow-content-left-bottom-item:first-child {
    border-radius: 5px;
}

.product-gallery-tow-content-left-bottom-item img {
    width: 100%;
}

.product-gallery-tow-content-left-bottom-item {
    padding-top: 20px;
}

.product-gallery-tow-content-left-bottom-item-text li {
    margin-bottom: 6px;
}

.product-gallery-tow-content-left-bottom-item-text li:first-child {
    height: 30px;
    width: 70%;
    background-color: #de1c05;
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 30px;
    border-radius: 40px;
}

.product-gallery-tow-content-left-bottom-item-text li:first-child p {
    color: #fff;
    font-size: 12px;
}

.product-gallery-tow-content-left-bottom-item-text li:first-child img {
    width: 30px;
    float: left;
    margin-right: 6px;
    border-radius: 40px;
}

.product-gallery-tow-content-left-bottom-item-text li:nth-child(4) a {
    text-decoration: line-through;
    color: #333;
}

.product-gallery-tow-content-left-bottom-item-text li:last-child i {
    color: #fb6e2e;
}

.product-gallery-tow-content-left-bottom-item:hover>img {
    transform: translateY(-20px);
}

.product-gallery-tow-content-left-bottom-item>img {
    transition: all .5s;
}

.product-gallery-tow-content-left-bottom-item:hover {
    box-shadow: 3px #fff;
}


/* --------------------------------- */

.product-gallery-3-content-product {
    display: flex;
    justify-content: space-between;
}

.product-gallery-3-content-product-item img {
    border-radius: 5px;
}

.product-gallery-4-content-product {
    display: flex;
    justify-content: space-between;
}

.product-gallery-4-content-product-item {
    width: 32.5%;
}

.product-gallery-4-content-product-item img {
    width: 100%;
    border-radius: 5px;
}


/* --------------------------------------------------------------- */

.product-gallery-5-content-container {
    display: flex;
    justify-content: space-between;
}

.product-gallery-5-content-container-left {
    width: 65%;
}

.product-gallery-5-content-container-right {
    width: 34%;
}

.product-gallery-5-content-container-left-bottom-left-big {
    width: 61%;
}

.product-gallery-5-content-container-left-bottom-left-big img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.product-gallery-5-content-container-left-bottom-right {
    width: calc(39% - 10px);
}

.product-gallery-5-content-container-left-bottom {
    display: flex;
}

.product-gallery-5-content-container-left-bottom-left {
    display: flex;
    justify-content: space-between;
}

.product-gallery-5-content-container-left-bottom-right-item {
    display: flex;
}

.product-gallery-5-content-container-left-bottom-right-item-content-title {
    font-size: 12px;
    line-height: 17px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.product-gallery-5-content-container-left-bottom-right-item-content-time {
    color: #999;
    font-size: 10px;
    line-height: 15px;
}

.product-gallery-5-content-container-left-bottom-right-item-content {
    padding-left: 10px;
    width: calc(100% - 120px);
}

.product-gallery-5-content-container-left-bottom-right-item {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

.product-gallery-5-content-container-left-bottom-right-item-img {
    position: relative;
    width: 120px;
    height: 70px;
}

.product-gallery-5-content-container-left-bottom-right-item-img img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-gallery-5-content-container-left-bottom-left-big-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    margin-top: 10px;
}

.product-gallery-5-content-container-left-bottom-left-big-time {
    color: #999;
    line-height: 21px;
    margin-top: 5px;
}

.product-gallery-5-content-container-left-title {
    display: flex;
}

.product-gallery-5-content-container-right-bottom {
    position: relative;
}

.product-gallery-5-content-container-right-bottom-content-item img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-gallery-5-content-container-right-bottom-content-item-bottom {
    display: flex;
    margin-top: 10px;
}

.product-gallery-5-content-container-right-bottom-content-item-bottom-img {
    width: 60px;
}

.product-gallery-5-content-container-right-bottom-content-item-bottom-img img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-gallery-5-content-container-right-bottom-content-item-bottom-title {
    padding-left: 10px;
    width: calc(100% - 60px);
}

.product-gallery-5-content-container-right-bottom-content-item-bottom-title-lable {
    display: flex;
}

.product-gallery-5-content-container-right-bottom-content-item-bottom-title-lable span {
    background-color: #07a358;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 0 4px;
}

.product-gallery-5-content-container-right-bottom-content-item-bottom-title-lable p {
    font-size: 13px;
    line-height: 16px;
    margin-left: 5px;
}

.product-gallery-5-content-container-right-bottom-content-item-bottom2-list a {
    color: #2f80ed;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
    padding-left: 15px;
    position: relative;
}

.product-gallery-5-content-container-right-bottom-content-item-bottom2-list a::before {
    background-color: #2f80ed;
    border-radius: 50%;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 5px;
}